@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



:root {
  --main-color: #008ECC; /*olympic blue: https://louisem.com/417898/blue-hex-codes */
  --alt-color: rgba(0, 142, 204, 0.7);
}

body {
  font-family: 'Poppins', sans-serif;

}

.navbar-toggler {
  box-shadow: none;
  outline: none;
  border: none;
}
.navbar-custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
.content-wrapper {
  padding-top: 0px;
}
:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}
a[href^="#"] {
  scroll-margin-top: 90px;
}

.navbar-brand {
  font-weight: bold;
}

/* .navbar {
  color: red;
} */

.nav-item {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;


}

.nav-item {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #333;
}

.lead {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
}
#demos {
  font-size: 1rem;
  
}

a {
  color: var(--main-color) !important; 
}

h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(89, 87, 87);
  /* text-transform: uppercase; */
  font-weight: bold;
  font-family: 'Poppins', sans-serif;


}

.about-intro {
  /* font-weight: bold; */
}

.card {
  border-color: var(--main-color);
  background-color: transparent;
}

.video-wrap {
  position: relative;
  padding-bottom: 315px;
  padding-top: 25px;
  height: 0;
  max-width: 560px;
  max-height: 315px;
  margin: 0 auto;
}
  .video-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 315px;
      padding-left: 10px;
      padding-right: 10px;
  }

  #scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:var(--alt-color);
    color: #fff;
    cursor: pointer;
    padding: 0px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding-bottom: 40px;
  }

  #container-nav {
    padding-bottom: inherit;
  }