:root {
  --box-color: rgb(255, 255, 255);
}

html, body {
  height: 90%;
}

a {
    
    margin-bottom: 5rem;
    text-decoration: none;
    color: black;
    
  }

  #pages {
    background-color: var(--box-color);
    height: 100%;
    width: max-content;
  }

  #text {
    background-color: white;
    /* border: 1px solid var(--box-color); */
    height: 80vh; /* Set the height to 80% of the viewport height */
  overflow-y: auto; /* Add a scrollbar if the content overflows
 */
  }

  .container {

    height: 100%;
    background-color: white;
  }

  /*BUTTON */

  button {

      color: black;
      background-color: transparent;
      border-color: black;
      margin: 0.1rem !important;

    }
  

  .btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  